<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/static/css/newstyle.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/static/css/bootstrap.min.css}"/>
    <title>Hello, world!</title>
</head>
<body>
<div class="container-fluid align-baseline bg-dark text-white">
    <div class="row">
        <div class="col-md-6 text-left">
            <p>Project name</p>
        </div>
        <div class="col-md-6 text-right">
            <a href="/logout">Log out</a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>
        </div>
        <div class="col-md-10">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <h2>Admin Panel</h2>

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                               aria-controls="home" aria-selected="true">User tabs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                               aria-controls="profile" aria-selected="false">Add User</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent" th:with="idEdit=0">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" th:with="idEdite = null">
                            <table id="tableUserList" class="table table-striped table-hover">
                                <tr>
                                    <th>ID</th>
                                    <th>NAME</th>
                                    <th>Password</th>
                                    <th>Role</th>
                                    <th>Action</th>
                                </tr>
                                <th:url var="updateLink" value="/user-form">
                                    <th:param name="userId" value="${user.id}"/>
                                </th:url>

                                <tr th:each="user : ${userList}">
                                    <td th:text="${user.id}">nothing</td>
                                    <td th:text="${user.name}" >nothing</td>
                                    <td th:text="${user.password}">nothing</td>
                                    <td th:text="${user.roles}">nothing</td>
                                    <td>

                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                                th:data-target="${'#exampleModal'+user.getId()}" >
                                            UPDATE
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" th:id="${'exampleModal'+user.getId()}" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true" th:with="nameEdit=${user.id}">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Update User</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form th:action="@{/saveUser}" method="post" th:id="${'userEditForm' + user.getId()}">
                                                            <div class="form-group">
                                                                <label for="id">ID</label>
                                                                <input type="text" class="form-control" id="id" name ="id"
                                                                       th:value="${user.id}"  readonly >
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">Name</label>
                                                                <input type="text" class="form-control" id="name" name = "name"
                                                                       th:value="${user.name}">

                                                            </div>
                                                            <div class="form-group">
                                                                <label for="password">Password</label>
                                                                <input type="text" class="form-control" id="password" name = "password"
                                                                       th:value="${user.password}">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="roles">Roles select</label>
                                                                <select multiple class="form-control" id="roles" name="roles">
                                                                    <option th:each="role : ${roles}"
                                                                            th:value="${role.id}"
                                                                            th:text="${role.role}"></option>

                                                                </select>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                                        </button>
                                                        <button type="submit" th:form="${'userEditForm' + user.getId()}"
                                                                class="btn btn-primary">Edit user
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        | <a th:href="@{/delete(userId = ${user.id})}"
                                             onclick="if (!(confirm('Are you sure you want to delete this user?'))) return false">Delete</a>
                                    </td>

                                </tr>
                            </table>


                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">


                            <form action="#" th:action="@{/saveUser}" th:object="${saveUser}" method="post">

                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" th:field="*{name}">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="text" class="form-control" id="password" th:field="*{password}">
                                </div>
                                <div class="form-group">
                                    <label for="roles">Roles select</label>
                                    <select multiple class="form-control" id="roles" th:field="*{roles}">
                                        <option th:each="role : ${roles}"
                                                th:value="${role.id}"
                                                th:text="${role.role}"></option>

                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Add User</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div th:object="${userAuth}">
                        <p>Hello, <span th:text="${userAuth.name}">пользователь</span></p>
                        <p>Password, <span th:text="${userAuth.password}">пароль</span></p>
                        <p>Roles, <span th:text="${userAuth.roles}">пароль</span></p>


                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>